<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="!messages">Loading...</div>
<div *ngIf="messages">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="card-body">
          <h4 *ngFor="let message of messages">Message:   {{convertMessage(message.message)}}</h4>
          <br>
        </div>
      </div>
    </div>
    <div class="column">
      <img alt="Angular Logo" src="http://www.codebug.org.uk/assets/steps/540/image_1.png">
    </div>

  </div>
  <div align="center">
    <button class="btn btn-primary" (mousedown)="morse(true);"
            (mouseup)="morse(false);" ><h2>Morse</h2></button>
    <button class="btn btn-primary" (click)="next();"><h2>Next</h2></button>
    <button class="btn btn-primary" (click)="space();"><h2>Space</h2></button>
    <button class="btn btn-success"[disabled]="!message" (click)="send();"><h2>Send</h2></button>
    <button class="btn btn-danger" (click)="clear();"><h2>Clear</h2></button>


  </div>
  <div align="center" *ngIf="message">
    <textarea  class="morse" cols="40" rows="3"  readonly="" tabindex="0">{{message}}</textarea>
    <br>
    <textarea  class="morse" cols="40" rows="3"  readonly="" tabindex="0">{{convertMessage(humanReadableMessage)}}</textarea>
  </div>
  <div>

    <div align="center">
      <h4 style="color: darkblue"> click "morse" button in less then a 120 ms for . and longer for - </h4>
      <h4 style="color: darkblue"> click "next" to go to next letter</h4>
      <h4 style="color: darkblue"> click "space" to go to next word</h4>
      <h4 style="color: darkblue"> click "clear" to remove all</h4>
      <h4 style="color: darkblue"> click "send" to broadcast message</h4>
    </div>

  </div>
</div>

